@model DtoCarrier

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">@Lables.Carriers</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    @if (Model.Id == Guid.Empty)
                    {
                        <h4 class="card-title">@Actions.AddNew</h4>
                    }
                    else
                    {
                        <h4 class="card-title">@Actions.Update</h4>
                    }

                    <form class="forms-sample"
                          method="post"
                          asp-area="admin"
                          asp-controller="Carriers"
                          asp-action="Save"
                          role="form">

                        <input asp-for="Id" type="hidden" />

                        <div class="form-group">
                            <label asp-for="CarrierName">@Lables.Name</label>
                            <input asp-for="CarrierName" type="text" class="form-control" placeholder="@Lables.Name" />
                            <span asp-validation-for="CarrierName" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-gradient-primary me-2">@Actions.Save</button>
                        <a asp-area="admin"
                           asp-controller="Carriers"
                           asp-action="Index"
                           class="btn btn-light">@Actions.Cancel</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}